{% render 'partials/head.liquid' %}

  <!-- Top bar -->
  <section class="topbar">
    <a href="/nieuws" class="terug">← Terug</a>
    <h1 class="titel">Veld nieuws</h1>
  </section>
<!-- 
  <main>
    <article>
      <img src="https://fdnd-agency.directus.app/assets/{{ news.image }}" alt="{{ news.title }}">
      <p class="date">Geplaatst: {{ news.date }}</p> 
      <h2>{{ news.title }}</h2>
      <p>{{ news.body }}</p>  
    </article>
  </main>
 -->

 <main class="main-news-detail">
    <picture>
        <source loading="lazy" type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{artikel.image}}?format=avif">
        <source loading="lazy" type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{artikel.image}}?format=webp">
        <img loading="lazy" src="https://fdnd-agency.directus.app/assets/{{newsItem.image}}" alt="{{newsItem.title}}">
    </picture>
    <time datetime="{{ artikel.date }}">Geplaatst: {{ artikel.date | date: '%d-%m-%Y'}}</time>
    <p>
        {{ artikel.title }}
    </p>
    <p>
        {{ artikel.body }}
    </p>




{% render 'partials/foot.liquid' %}